<nav class="navbar navbar-expand-md navbar-light shadow-sm ">
  <%= link_to dashboard_path, class: "navbar-brand" do %>
    <%= image_tag "CoffeeColorDashboard.jpg", size: "150x150" %>
    管理者画面
    <%= link_to "ログアウト", dashboard_logout_path, method: :delete, class: "btn btn-primary text-right"  %>
  <% end %>
</nav>