<div class="container ml-3">
  <h5>ユーザー管理</h5>
  <div class="d-flex flex-column">
    <label class="CoffeeColor-sidebar-category-label">
      <%= link_to "ユーザー一覧", dashboard_users_path %>  
    </label> <%#ユーザー一覧をCSVファイルかなんかでDLできる%>
    <label class="CoffeeColor-sidebar-category-label">ユーザー登録</label> <%#ここにユーザーを登録できるリンクを貼り付け、管理%>
  </div>

  <h5>メーカー管理</h5>
  <div class="d-flex flex-column">
    <label class="CoffeeColor-sidebar-category-label">登録商品一覧</label> <%#ここでメーカーからの登録商品の管理ができるようにする%>
    <label class="CoffeeColor-sidebar-category-label">親カテゴリ管理</label><%#カテゴリ付けし、そこから管理者が推したい商品を管理%>
    <label class="CoffeeColor-sidebar-category-label">カテゴリ管理</label><%# 子カテゴリにより、ユーザーにCatchUPした製品を登録%>
    <label class="CoffeeColor-sidebar-category-label">CSV一括登録</label>
  </div>

  <h5>メーカー受注管理</h5>
  <div class="d-flex flex-column">
    <label class="CoffeeColor-sidebar-category-label">顧客一覧</label><%#会社リスト%>
    <label class="CoffeeColor-sidebar-category-label">顧客登録</label><%#会社登録%>
  </div>

  <h5>レシピ管理</h5>
  <div class="d-flex flex-column">
    <label class="CoffeeColor-sidebar-category-label">コーヒー豆登録リスト</label><%#豆登録リスト%>
    <label class="CoffeeColor-sidebar-category-label">品質記録</label><%#レシピ管理やカラーピッカーの管理%>
  </div>

  <h5>その他</h5>
  <div class="d-flex flex-column">
    <label class="CoffeeColor-sidebar-category-label">新着情報管理</label><%#情報データ操作画面に移行%>
    <label class="CoffeeColor-sidebar-category-label">管理ユーザー管理</label><%#ユーザーの管理など%>
    <label class="CoffeeColor-sidebar-category-label">タグ管理</label>
      <div class="CoffeeColor-sidebar-category-label">
        メニュー
        <%= link_to "タグ作成", new_dashboard_tag_path %>
      </div>
  </div>
</div>
