
<h2>google map</h2>

<input id="address" type="textbox" value="渋谷">
<input type="button" value="Encode" onclick="codeAddress()">

<div id='map' data-googlemap-api-key= "<%= @api_key %>" style= "height: 600px; width: 600px;"></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script src="codeAddress.js"></script>