<% if user.present? %>
  <h4 class= "text-primary">フォローしているユーザー</h4>
  <div class= "border-top border-bottom">
    <% user.each do |user| %>
      <table>
        <thead>
          <tr>
            <th>名前</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= user.name %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
<% else %>
  <p>フォローしているユーザーはいません</p>
<% end %>
