<h2 class="container text-center">「<%= params[:q][:name_cont] if params[:q].present? %>」の検索結果</h2>
<div class="container text-center ">
  <% if @user_name.present? %>
    <div class=" text-center col-12 ">
      <% @user_name.each do |result| %>
        <%= result.name %>(<%= result.is_roaster == 'maker' ? 'メーカー' : (result.is_roaster == 'roaster' ? '焙煎士'  : 'ユーザー')%>)<br>
      <% end %>
    </div>
  <% else %>
    <h3>一致する結果がありませんでした。</h3>
  <% end %>
</div>