@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import 'bootstrap/scss/bootstrap';

.CoffeeColor-footer {
  width: 20%;
}

.img-css{
  width: 30%;
  height: 30%;
}

.CoffeeColor-sidebar-category-label {
  width: 156px;
  height: 20px;
  font-family: YuGo;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}