<h2 class="container text-center">「<%= params[:q][:name_cont] if params[:q].present? %>」の検索結果</h2>
<div class="container text-center">
  <% if @results.present? %>
    <div class=" text-center">
      <% @results.each do |result| %>
        <%= link_to result.title, post_path(result) %><br>
        <%= link_to result.content, post_path(result) %>
      <% end %>
    </div>
  <% else %>
    <h3>一致する結果がありませんでした。</h3>
  <% end %>
</div>

