/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
// Custom bootstrap variables must be set or imported *before* 

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "simple_calendar";
@import "./simple_calendar.scss";

body {
  margin: 0;
  font-family: Nunito, sans-serif;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #f8fafc
}

h3, .h3 {
  font-size: 1.575rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: .32rem;
  padding-bottom: .32rem;
  margin-right: 1rem;
  font-size: 1.125rem;
  line-height: inherit;
  white-space: nowrap
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.19rem + 2px);
  padding: .375rem .75rem;
  font-size: .9rem;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}


.message-box{
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  z-index: 1000;
  display: none;
}

.tag-label{
  display: block;
  margin-top: 10px;
  padding: 10px 0;
}

.tag-name {
  color: #007bff;
  margin-right: 5px;
}
.td-deleted_flg {
  position: relative;
}

.flash-messages {
  position: absolute;
  z-index: 1000;
  background-color: #FFF;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #000;
  white-space: nowrap;
  display: none;
}

.flash-messages::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #FFF;
  display: block;
  width: 0;
}

.flash-messages::after {
  content: "";
  position: absolute;
  top: -11px;
  left: 50%;
  margin-left: -10px;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #000;
  display: block;
  width: 0;
}

.CoffeeColor-sidebar-category-label {
  width: 156px;
  height: 20px;
  font-family: "m-plus-rounded-2c", sans-serif;
  font-size: 13px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}
//@import '@fortawesome/fontawesome-free/scss/fontawesome';
//@import 'bootstrap/scss/bootstrap';


.CoffeeColor-footer {
  width: 20%;
}

.img-css{
  width: 30%;
  height: 30%;
}


.posts {
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 15px;
  text-align: center;
}
.CoffeeColor-login-input {
  border-radius: 2px;
  border: solid 1px #b2b2b2;
  background-color: #ffffff;
}

.CoffeeColor-check-label {
  font-family: YuGo;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.CoffeeColor-require-input-label {
  border-radius: 1px;
  background-color: #e2001b;
}

.CoffeeColor-require-input-label-text {
  font-family: YuGo;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.submit-button {
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b2b2b2;
  color: #ffffff;
  background-color: #0fbe9f;
}

.CoffeeColor-login-text {
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0fbe9f;
}

.CoffeeColor-error-message {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #e3342f
}

.user-edit-label {
  cursor: pointer;
  cursor: hand;
}

.user-item {
  display: inline-block;
  width: 200px; /* 任意の幅 */
  margin-right: 20px; /* 適宜調整 */
}

#map {
  height: 600px;
  width: 600px;
}

.card-text {
  display: inline-block;
  font-size: 18px;
  margin: 2px;
}

.card-title {
  display: inline-block;
  font-size: 18px;
  margin: 2px;
}

.follow-info {
  display: inline-block;
  font-size: 18px;
  margin: 2px;
}

.user-items {
  text-align: center;
  margin: 0 auto;
  border: 1px solid #000000;
  box-sizing: border-box;
  max-width: 100%;
}

/* 吹き出し本体 */
.balloon{
  font-family: "m-plus-rounded-2c", sans-serif;
  position: relative;
  padding: 8px;
  background-color: #b1fff3;
  display: inline-block;     /* 横幅を自動で変更 */
}

/* beforeで三角を表現 */
.balloon::before{
  content: '';
  position: absolute;
  left: 10px;
  top: -10px;
  display: block;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-bottom: 15px solid #b1fff3;
  border-left: 5px solid transparent;
}
.balloon-customer{
  position: relative;
  padding: 10px;
  background-color: #E1D81C;
  display: inline-block; 
}
.balloon-customer::before{
  content: '';
  position: absolute;
  right: 10px;
  top: -10px;
  display: block;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-bottom: 15px solid #E1D81C;
  border-left: 4px solid transparent;
}
// チャットメッセージの位置調節
.chat-form{
  position: relative;
}

.textarea-container{
  position: relative;
}

.bold-textarea{
  background-color: transparent;
  width: 100%;
  height: 150px;
  color: #111112;
  padding-right: 70px;
}

.bold-textarea:focus{
  border: 2px solid #0000ff;
  outline: 0;
}

.submit-button {
  bottom: 10px;
  right: 10px;
  padding: 5px 10px;
}
// ボタンの大きさ
.del{
  font-size: 16px;
}

.my-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}