// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.user-item {
  display: inline-block;
  width: 200px; /* 任意の幅 */
  margin-right: 20px; /* 適宜調整 */
}