<div class="mx-auto" style="width: 800px;">
  <% if user_signed_in?%>

  <% else %>
    <p class="text-center">
      <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "btn btn-danger btn-sm" %>
    </p>
  <% end %>
  <%= link_to root_path, class: "navbar-brand " do %>
    <%= image_tag "CoffeeColor.jpeg", class: "CoffeeColor-footer d-block mx-auto  img-fruid " %>
  <% end %>
</div>
