<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
  <%= link_to root_path, class: "navbar-brand row" do %>
    <%= image_tag "CoffeeColor.jpeg", class: " CoffeeColor-footer m-0 p-0  img-fruid " %>
  Coffee Color
  <% end %>
</nav>